﻿<div class="@CssClass p-1 d-flex justify-content-between align-items-center rounded-item">
    <div class="px-2">@Address</div>
    @if (State != AddressItemState.Undefined)
    {
        <div class="d-flex">
            <button class="btn p-1 text-bold d-flex align-items-center" @onclick="OnViewButtonClick">
                <span class="oi oi-eye"></span>
            </button>
            <button class="btn p-1 text-bold d-flex align-items-center" @onclick="OnActionButtonClick">
                <span class="oi oi-@(AddressItemStateToClass(State))"></span>
            </button>
        </div>
    }
</div>

@code {
    [Parameter]
    public string Address { get; set; }
    [Parameter]
    public AddressItemState State { get; set; }
    [Parameter]
    public EventCallback OnActionButtonClick { get; set; }
    [Parameter]
    public EventCallback OnViewButtonClick { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }

    protected string CssClass { get => AdditionalAttributes?.ContainsKey("class") == true ? (string)AdditionalAttributes["class"] : ""; }

    public enum AddressItemState
    {
        Undefined, CanAdd, CanRemove
    };

    private string AddressItemStateToClass(AddressItemState state) =>
        state switch
        {
            AddressItemState.CanAdd => "plus",
            AddressItemState.CanRemove => "minus",
            _ => null
        };
}
