﻿@using System.Globalization
@using Refit
@using TSP.Shared
@using TSP.Shared.Exceptions
@using TSP.Shared.WebInterfaces
@using System.Timers;
@inherits LayoutComponentBase

@if (appState == AppState.SearchingRoute)
{
    <div class="position-fixed spinner-overlay">
        <Loading/>
    </div>
}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-lg-4    pt-sm-2    px-0 px-lg-2    mb-5 mb-lg-0"> 
            @if(appState == AppState.Initialized || appState == AppState.SearchingRoute)
            {
                <div class="sidebar mb-5 mb-lg-3 p-2">
                    <div class="d-flex justify-content-center mb-2">
                        <div class="d-flex lang-panel">
                            <button class="btn lang-button col @(_language == Language.English ? "active" : "")"
                                @onclick="() => _language = Language.English">
                                EN
                            </button>
                            <button class="btn lang-button col @(_language == Language.Russian ? "active" : "")"
                                @onclick="() => _language = Language.Russian">
                                РУ
                            </button>
                        </div>
                    </div>

                    <div class="menu-title mb-3">@_localization.SearchPlace</div>

                    <div class="d-flex position-relative">
                        <span class="oi oi-magnifying-glass position-absolute pictogram" style="left:10px;top:10px;"/>
                        <input type="text" placeholder="@(_localization.SearchPlaceholder)"
                            @bind="SearchText"
                            @bind:event="oninput"
                            class="rounded-item mb-2 form-control"
                            style="padding-left: 2rem; padding-right: 2rem;" @ref="searchInput"/>
                           
                        @if(!string.IsNullOrEmpty(SearchText))
                        {
                            <span class="oi oi-circle-x position-absolute cursor-pointer pictogram" 
                                style="right:10px;top:11px;"
                                @onclick="() => { SearchText = string.Empty; searchInput.FocusAsync(); }"/>
                        }
                    </div>

                    <div class="menu-list">
                        @if (foundAddresses.Any())
                        {
                            @foreach (var address in foundAddresses)
                            {
                                <AddressItem 
                                    Address="@address.Name" 
                                    State="AddressItem.AddressItemState.CanAdd" 
                                    class="mb-1" 
                                    OnActionButtonClick="() => AddAddress(address) "
                                    OnViewButtonClick="() => ShowAddressOnMap(address)"/>
                            }
                        }
                        else
                        {
                            <div class="list-placeholder">
                                @(searchState switch
                                {
                                    SearchState.NotStarted => _localization.SearchNotStarted,
                                    SearchState.Completed => _localization.SearchNothingFound,
                                    SearchState.InProgress => _localization.SearchInProgress,
                                })
                            </div>
                            if(searchState == SearchState.InProgress)
                            {
                                <div class="d-flex w-100 justify-content-center mt-2">
                                    <Loading/>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="sidebar p-2">
                    <div class="menu-title mb-3">@_localization.SelectedPlaces</div>
                    <div class="menu-list mb-2">
                        @if (selectedAddresses.Any() == true)
                        {
                            @foreach (var address in selectedAddresses)
                            {
                                <AddressItem 
                                    Address="@address.Name" 
                                    State="AddressItem.AddressItemState.CanRemove" 
                                    class="mb-1 cursor-pointer" 
                                    OnActionButtonClick="() => selectedAddresses.Remove(address)"
                                    OnViewButtonClick="() => ShowAddressOnMap(address)"/>
                            }
                        }
                        else
                        {
                                <div class="list-placeholder">@_localization.SelectedPlacesListIsEmpty</div>
                        }
                    </div>

                    <button class="btn rounded-item mb-2" 
                        @onclick="FindRoute" 
                        disabled="@(!CanFindRoute)">
                        @(CanFindRoute ? _localization.FindTheRoute : _localization.InsufficientQuantityOfPlaces)
                    </button>
                    <button class="btn rounded-item d-flex align-items-center justify-content-center" 
                        @onclick="selectedAddresses.Clear">
                        @_localization.ClearListOfPlaces
                    </button>
                </div>
            }
            else
            {
                <div class="sidebar p-2">
                    <button class="btn" @onclick="CancelRoute" style="margin-left:5px">
                        <span class="oi oi-arrow-left" style="color:white"></span>
                    </button> 
                    <div class="menu-title mt-2 mb-3">@_localization.ResultRoute</div>
                    <div class="mb-4 menu-title" style="font-size: 1rem">@_localization.TotalLength: @routeLength @_localization.Kilometers</div>
                    <div class="route-list mb-3">
                        @if (route.Any() == true)
                        {
                            var last = route.Last();
                            @foreach (var address in route)
                            {
                                <AddressItem 
                                    Address="@address.Name" 
                                    State="AddressItem.AddressItemState.Undefined"/>
                                if(last != address)
                                {
                                    <div class="d-flex justify-content-center w-100 py-2">
                                        <span class="oi oi-arrow-bottom" style="color:white"></span>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            }                
        </div>

        <div class="col-12 col-lg-8 px-0 px-lg-2 pb-2 pt-0 pt-lg-2">
            <div class="sidebar w-100 h-100 position-relative" style="background:#eee; min-height:500px">
                @if (showMap || routeAvailable && (appState == AppState.WaitingForRouteToDraw || appState == AppState.Done))
                {
                    @if (appState == AppState.WaitingForRouteToDraw)
                    {
                        <div class="spinner-overlay">
                            <Loading/>
                        </div>
                    }
                    <div id="myMap" class="w-100 h-100"></div>
                }
                else
                {
                    var (title, message) = !routeAvailable && appState == AppState.Done
                        ? (_localization.TooMuchPlacesToShowTitle, _localization.TooMuchPlacesToShowExplanation)
                        : (_localization.NoMapYetTitle, _localization.NoMapYetExplanation);

                    <div class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">
                        <div class="d-flex justify-content-center align-items-center text-center mt-3" 
                             style="font-size: 3rem; color: #999">
                            @title
                        </div>
                        <div class="d-flex justify-content-center align-items-center text-center" 
                             style="color: #999">
                             @message
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<MessageDialog @ref="dialog" Message="@_localization.DuplicatedPoint" />
<MessageDialog @ref="errorDialog" Message="@_localization.SomethingWentWrong" />
<MessageDialog @ref="unreachablePointsDialog" Message="@_localization.PointsAreUnreachable" />

@code {
    [Inject]
    HttpClient http { get; set; }

    [Inject]
    IJSRuntime JS { get; set; }

    [Inject]
    Localizations _localizations { get; set; }

    Localization _localization => _localizations[_language];

    Timer inputTimer;

    Language _language;

    string searchText = string.Empty;
    string SearchText 
    { 
        get => searchText; 
        set => UpdateSearchText(value); 
    }

    ICollection<Address> foundAddresses = new List<Address>();
    ICollection<Address> selectedAddresses = new List<Address>();
    ICollection<Address> route = new List<Address>();
    SearchState searchState;
    AppState appState;
    bool CanFindRoute => selectedAddresses?.Count >= 4;
    IWebGeoService client;
    bool showMap;
    bool routeAvailable;
    MessageDialog dialog;
    MessageDialog errorDialog;
    MessageDialog unreachablePointsDialog;
    ElementReference searchInput;
    double routeLength;

    protected override Task OnInitializedAsync()
    {
        inputTimer = new () 
        { 
            AutoReset = false, Interval = 500 
        };

        inputTimer.Elapsed += async (s, e) => await SearchAddresses();

        client = RestService.For<IWebGeoService>(http);
        appState = AppState.Initialized;

        return Task.CompletedTask;
    }

    async Task SearchAddresses()
    {   
        foundAddresses = new List<Address>();
        searchState = SearchState.InProgress;
        await InvokeAsync(StateHasChanged);

        try
        {
            foundAddresses = await client.SearchAddresses(SearchText);
        }
        catch
        {
            ShowErrorDialog();
        }

        searchState = SearchState.Completed;
        await InvokeAsync(StateHasChanged);
    }

    async Task ShowAddressOnMap(Address address)
    {
        showMap = true;
        StateHasChanged();

        await Task.Delay(500);
        await JS.InvokeVoidAsync("LoadMap", address.Bounds, address.Latitude, address.Longitude);
        StateHasChanged();
    }

    async Task FindRoute()
    {
        appState = AppState.SearchingRoute;
        StateHasChanged();

        try
        {
            var res = await client.FindRoute(selectedAddresses);
            (route, routeLength) = (res.Addresses, res.Length);

            routeAvailable = route.Count < 20;

            if (routeAvailable)
            {
                appState = AppState.WaitingForRouteToDraw;
                StateHasChanged();

                await Task.Delay(500);
                await JS.InvokeVoidAsync("ShowRoute", route);
            }

            appState = AppState.Done;
        }
        catch(Exception ex)
        {
            appState = AppState.Initialized;

            if (ex is ApiException apiEx && (apiEx.Content.Contains(nameof(UnreachablePointsException))))
                ShowUnreachablePointsDialog();
            else
                ShowErrorDialog();
        }
    }

    void UpdateSearchText(string value)
    {
        searchText = value;
        inputTimer.Stop();
        if (string.IsNullOrWhiteSpace(value))
            searchState = SearchState.NotStarted;
        else
            inputTimer.Start();
    }

    void AddAddress(Address address)
    {
        if (Utils.CheckAddressIsUnique(address, selectedAddresses))
            selectedAddresses.Add(address);
        else
            ShowSameAddressDialog();
    }

    void ShowSameAddressDialog() => dialog.Show();
    void ShowErrorDialog() => errorDialog.Show();
    void ShowUnreachablePointsDialog() => unreachablePointsDialog.Show();

    async Task CancelRoute()
    {
        appState = AppState.Initialized;
        if (routeAvailable)
            await JS.InvokeVoidAsync("ClearRoute", !showMap);
    }

    enum SearchState { NotStarted, InProgress, Completed }

    enum AppState { Initialized, SearchingRoute, WaitingForRouteToDraw, Done }
}