﻿@if (isShown)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        @Message
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="() => isShown = false">ОК</button>
                </div>
            </div>
        </div>
    </div>
}

@code{
    [Parameter]
    public string Message { get; set; }

    private bool isShown;

    public void Show()
    {
        isShown = true;
        StateHasChanged();
    }
}